.wrapper
  & + &
    margin-top 20px

.label
  position relative
  display block

.placeholder
  color $gray-darker
  line-height 1
  background-color #fff
  padding 2px
  position absolute
  top 50%
  left 8px
  transform translateY(-50%)
  transition all .1s ease
  .input:focus ~ &,
  &Focused
    font-size .8em
    top 0

.error
  color $red
  font-size .8em
  margin-top 5px
