.wrapper
  width 100%
  flex 0 1 auto
  display flex
  flex-direction column
  justify-content center
  align-items center

.form
  width 100%
  max-width 300px
  flex 0 1 auto

.title
  text-align center

.footer
  color $gray-darker
  text-align center
  margin-top 10px
  &Button
    margin-left 5px

.button
  margin-top 20px