{
  "presets": ["env", "react"],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver", {
            "alias": {
              "components": "./src/components"
            }
          }
        ]
      ]
    }
  }
}
