{
  "presets": ["@babel/preset-env", "@babel/preset-flow", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining", {"loose": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "syntax-flow"
    // "transform-class-properties",
    // "syntax-object-rest-spread",
    // "syntax-class-properties",
    // "syntax-jsx",
    // "syntax-object-rest-spread",
    // "syntax-class-properties"
  ]
}