.button
  cursor pointer
  display inline-block
  vertical-align middle

.common
  background-color $red
  color #fff
  padding 14px 20px

.wide
  width 100%
  text-align center

.transparent
  color inherit
  background transparent
  border none
  border-radius 0
  padding 0
  vertical-align baseline