.root
  width 100%
  display flex
  flex 0 1 auto
  &List
    width 20%
    max-width 400px
    min-width 270px
    border-right 1px solid $gray
    flex 0 0 auto
  &Detail
    width 100%
    flex 0 1 auto