.root
  &Item
    text-decoration none
    padding 5px 10px
    display block
    &Active
      color $lightColor
      background-color $red
      &:hover
        color $lightColor

.icon
  margin-right 10px

.input
  height 0
  width 0
  position absolute
  opacity 0
