@font-face
  font-family Material Icons
  font-style normal
  font-weight normal
  src url(../resources/fonts/MaterialIcons.woff2) format('woff2'),
  url(../resources/fonts/MaterialIcons.woff) format('woff')