html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, main, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, 
input, textarea, button, select, option, 
:before, :after
  margin 0
  padding 0
  border 0
  color inherit
  font-size 100%
  font-family inherit
  font-weight inherit
  font-style inherit
  line-height inherit
  vertical-align baseline
  box-sizing border-box
  outline none

/* HTML5 display-role reset for older browsers */
article, aside, canvas, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section, summary 
  display block

table 
  border-collapse collapse
  border-spacing 0

a[x-apple-data-detectors]
  color inherit
  text-decoration none
  font-size inherit
  font-family inherit
  font-weight inherit
  line-height inherit
  
input, textarea, button, select, option
  box-shadow none
  border-radius 0
  -webkit-tap-highlight-color transparent
  
select::-ms-expand
  display none // ie select appearance