$gray = #eee
$gray-light = #f3f3f3
$gray-dark = #ccc
$red = #dd4c4f

// themes colors
$bg = #fff
$lightColor = #fefefe
$textColor = #3c3c3c
$subText = #a1a0a0
$baseFont = 15px
$smallFont = 12px

$deskSize = 1366px
$tabletSize = 1080px
$mobileSize = 820px
$smallSize = 420px

$desk = s("only screen and (max-width: %s)", $deskSize)
$more-desk = s("only screen and (min-width: %s)", $deskSize + 1)
$tablet = s("only screen and (max-width: %s)", $tabletSize)
$more-tablet = s("only screen and (min-width: %s)", $tabletSize + 1)
$mobile = s("only screen and (max-width: %s)", $mobileSize)
$more-mobile = s("only screen and (min-width: %s)", $mobileSize + 1)
$small = s("only screen and (max-width: %s)", $smallSize)
$more-small = s("only screen and (min-width: %s)", $smallSize + 1)

$menu-width = 210px
$list-width = 310px

$font-large = 30px
