.wrapper
  display inline-block
  margin-left 5px

.dropdown
  width 100%
  background-color $gray
  border-bottom 1px solid $red
  padding 5px
  position absolute
  bottom 100%
  left 0
  display none
  &Open
    display block

.title
  font-size 12px
  margin-bottom 5px