.item
  font-family Material Icons
  color inherit
  font-size 1.5em
  font-weight normal
  font-style normal
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  -webkit-font-feature-settings 'liga'
  font-feature-settings 'liga'
  display inline-block
  vertical-align middle
  background none
  flex 0 0 auto
