.root
  &Canvas
    height 100vh
    display flex
    flex-direction column
  &Layout
    flex 1 0 auto
    display flex
  &Main
    width 100%
    display flex
    flex 0 1 auto
  &Menu
    width 200px
    color $lightColor
    background-color $textColor
    display block
    flex 0 0 auto